.container {
  height: 1000px;
  .contents {
    padding: 80px 30px 10px;
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      padding: 24px;
      margin: 20px 0px;
      border-radius: 10px;
    }
    .dashboardBoxWrapper {
      display: flex;
      gap: 20px;
      width: 100%;
      flex-wrap: wrap;
      .dashboardBox {
        width: 48%;
        height: 200px;
        background: grey;
        border-radius: 10px;
      }
    }
  }
}
