.container {
  font-family: "Open Sans", sans-serif !important;
  .contents {
    padding: 90px 30px 30px;

    .dashboardBoxWrapperRow {
      display: flex;
      .dashboardBoxWrapper {
        display: flex;
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;
        .dashboardBox {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 48%;
          height: 170px;
          background: grey;
          border-radius: 10px;
          overflow: hidden;
          padding: 20px;
          text-align: left;
          position: relative;
          color: #fff;
          box-shadow: #00000026 0px 8px 16px 0px;

          .chart {
            opacity: 0.1;
            position: absolute;
            bottom: 20px;
            left: 20px;
            svg {
              font-size: 110px;
              color: #000;
            }
          }
          .col1 {
            color: #fff;
            h4 {
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 0;
              text-transform: capitalize !important;
            }
            span {
              font-size: 35px;
              font-weight: bold;
              line-height: 45px;
            }
          }
          .divIcon {
            margin-left: auto;
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50px;
              height: 50px;
              border-radius: 8px;
              background-image: linear-gradient(
                to bottom right,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.3)
              );
              svg {
                font-size: 35px;
                opacity: 0.4;
                color: #fff;
              }
            }
          }
          .timeline {
            display: flex;
            align-items: center;
            .ratio {
              display: flex;
              justify-content: center; /* Căn giữa theo chiều ngang */
              align-items: center;
              padding: 3px 5px;
              justify-content: center;
              background: rgba(0, 0, 0, 0.2);
              border-radius: 15%;
              margin-right: 8px;
            }
            h6 {
              color: #fff;
              text-transform: capitalize !important;
              margin-bottom: 0;
              font-size: 12px;
            }
          }
          .bottomEle {
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            top: 15px;
            .toggleIcon {
              margin-left: auto;
              font-size: 22px;
              color: rgb(255, 255, 255);
              cursor: pointer;
              min-width: 40px !important;
              width: 40px !important;
              height: 40px !important;
              border-radius: 50% !important;
            }
          }
        }
      }
      .boxnew {
        width: 100%;
        height: 100%;
        background: grey;
        border-radius: 10px;
      }
      .graphBox {
        color: #fff;
        box-shadow: #00000026 0px 8px 16px 0px;
        background-color: #4e73df;
        background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
        background-size: cover;
        padding: 20px;
        h4 {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0;
          text-transform: capitalize !important;
        }
        .bottomEle {
          display: flex;
          align-items: center;
          width: 100%;
          position: relative;
          height: auto;
          .toggleIcon {
            margin-left: auto;
            font-size: 22px;
            color: rgb(255, 255, 255);
            cursor: pointer;
            min-width: 30px !important;
            width: 30px !important;
            height: 30px !important;
            border-radius: 50% !important;
            svg {
              font-weight: bold;
            }
          }
        }
        .totalPrice {
          display: flex;
          justify-content: flex-start;
          color: #fff;
          font-weight: bold;
          font-size: 35px;
        }
        p {
          display: flex;
          justify-content: flex-start;
          text-transform: capitalize !important;
          opacity: 0.7;
          font-size: 13px;
        }
      }
    }
    .bestSelling {
      color: #403e57;
      background: #fff;
      margin-top: 24px;
      padding: 16px;
      border-radius: 10px;
      box-shadow: #00000026 0px 8px 16px 0px;
      flex-direction: column;
      line-height: 24px;
      text-align: left;
      .selling {
        .titleSelling {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 8px;
        }
        .select_by {
          display: flex;
          .input {
            color: #224abe;
          }
        }
        .export-button {
          background: #1866ee !important;
        }
      }
      .table-responsive {
        margin-top: 15px;
        .table {
          font-family: "Open Sans", sans-serif !important;
          .thead-dark {
            background: #1866ee !important;
            border-color: rgba(255, 255, 255, 0.1) !important;
            font-weight: bold;
            font-size: 13px;
            td {
              color: #fff !important;
            }
          }
          tbody {
            font-size: 13px !important;
            font-weight: 500;
            .info-products {
              width: 300px;
              .productBox {
                width: 276px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .imgWrapper {
                  width: 20%;
                  flex: 0 0 20%;
                }
                .info {
                  width: 75%;
                  text-align: left;
                  align-items: center;
                  flex: 0 0 75%;
                  h6 {
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 500;
                    margin-bottom: 5px;
                  }
                  p {
                    font-size: 13px;
                    line-height: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-bottom: 0;
                    color: #5e5d72;
                  }
                }
              }
            }
            .actions {
              display: flex;
              align-items: center;
              justify-content: center;
              button {
                min-width: 32px !important;
                width: 32px !important;
                height: 32px !important;
                margin: 0 3px !important;
                svg {
                  font-size: 32px !important;
                }
              }
              .secondary {
                background: rgba(203, 60, 231, 0.15) !important;
              }
              .success {
                background: rgba(21, 181, 90, 0.15) !important;
              }
              .error {
                background: rgba(254, 6, 43, 0.15) !important;
              }
            }

            .old {
              display: block;
            }
            .new {
              color: red;
              display: block;
            }
          }
        }

        .page {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: 15px;
          button {
            font-size: 13px;
          }
          svg {
            font-size: 13px;
          }
        }
      }
    }
  }
}
