.container {
  font-family: "Open Sans", sans-serif !important;
  padding: 90px 30px 30px;
  width: 100%;
  color: #403e57;
  .contents {
    .list-floatcard {
      display: flex;
      gap: 24px;
    }
    .information {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      .infor-header {
        align-items: flex-start;
        display: flex;
        gap: 0;
        justify-content: space-between;
        margin-bottom: 18px;
      }
    }
  }
}
