.container_ {
  margin-top: 130px;
  font-size: 20px;
  .box-title {
    display: flex;
    width: 100%;
    font-size: 20px;
    .imformation {
      width: 200px;
      display: flex;
      justify-content: center;
    }
    .conten {
    }
  }
  .tabs {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    .tabs-item {
      // margin-top: 20px;
      font-size: 16px;
      line-height: 40px;
      width: 92%;
      display: flex;
      justify-content: space-between;
      .number {
        span {
          margin-left: 10px;
        }
      }
    }
  }
}
