.container {
  font-family: "Open Sans", sans-serif !important;
  padding: 80px 30px 30px;
  width: 100%;
  font-size: 24px;
  color: #403e57;
}
.orders-container {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #fff;
  height: 100% !important;
}

.order-row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px;
  border-bottom: 1px solid #ccc;
}

.order-header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.order-cell {
  flex: 1;
  padding: 1px;
}

.footer_svg__6xIHg {
  display: none;
}
