.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  .titleRegistered {
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    margin: 0;
  }
  .select_by {
    display: flex;
    .input {
      color: #224abe;
    }
  }
  .table-responsive {
    margin-top: 15px;
    .table {
      font-family: "Open Sans", sans-serif !important;
      .thead-dark {
        background: #1866ee !important;
        border-color: rgba(255, 255, 255, 0.1) !important;
        font-weight: bold;
        font-size: 13px;
        td {
          color: #fff !important;
        }
      }
      tbody {
        font-size: 13px !important;
        font-weight: 500;
        .info-products {
          width: 300px;
          .productBox {
            width: 276px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .imgWrapper {
              width: 20%;
              flex: 0 0 20%;
            }
            .info {
              width: 75%;
              text-align: left;
              align-items: center;
              flex: 0 0 75%;
              h6 {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
                margin-bottom: 5px;
              }
              p {
                font-size: 13px;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: 0;
                color: #5e5d72;
              }
            }
          }
        }
        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            min-width: 32px !important;
            width: 32px !important;
            height: 32px !important;
            margin: 0 3px !important;
            svg {
              font-size: 32px !important;
            }
          }
          .secondary {
            background: rgba(203, 60, 231, 0.15) !important;
          }
          .success {
            background: rgba(21, 181, 90, 0.15) !important;
          }
          .error {
            background: rgba(254, 6, 43, 0.15) !important;
          }
        }

        .old {
          display: block;
        }
        .new {
          color: red;
          display: block;
        }
      }
    }

    .page {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 15px;
      button {
        font-size: 13px;
      }
      svg {
        font-size: 13px;
      }
    }
  }
}
