.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  .titleRegistered {
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    margin: 0;
  }
  .select_by {
    display: flex;
    .input {
      color: #224abe;
    }
  }
  .table-responsive {
    margin-top: 15px;
    .table {
      font-family: "Open Sans", sans-serif !important;
      .thead-dark {
        background: #1866ee !important;
        border-color: rgba(255, 255, 255, 0.1) !important;
        font-weight: bold;
        font-size: 13px;
        td {
          color: #fff !important;
        }
      }
      tbody {
        font-size: 13px !important;
        font-weight: 500;
        td {
          border: 0 solid;
          border-color: inherit;
          border-bottom: 1px solid var(--lightBorder);
          font-size: 14px;
          font-weight: 400;
          max-width: 120px;
          min-width: -webkit-fit-content;
          min-width: -moz-fit-content;
          min-width: fit-content;
          overflow: hidden;
          padding: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .info-products {
          width: 300px;
          .productBox {
            width: 276px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .info {
              p {
                margin: 0;
              }
            }
          }
        }
        .role {
          display: flex;
          align-items: center;
          gap: 4px;
          svg {
            font-size: 20px;
            color: #be0ee1;
          }
        }
        .status {
          background: #bdf5d3;
          color: #187d44;
          border-radius: 6px;
          font-size: 13px;
          font-weight: 500;
          line-height: 22px;
          padding: 0 7px 1px;
          margin: 0;
          text-transform: capitalize;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
        }
        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            min-width: 28px !important;
            width: 28px !important;
            height: 28px !important;
            margin: 0 3px !important;
            svg {
              font-size: 28px !important;
            }
          }
          .secondary {
            background: rgba(203, 60, 231, 0.15) !important;
          }
          .success {
            background: rgba(21, 181, 90, 0.15) !important;
          }
          .error {
            background: rgba(254, 6, 43, 0.15) !important;
          }
        }
      }
    }

    .page {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 15px;
      button {
        font-size: 13px;
      }
      svg {
        font-size: 13px;
      }
    }
  }
}
