.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  .titleRegistered {
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    margin: 0;
  }
  .select_by {
    display: flex;
    .input {
      color: #224abe;
    }
  }
}
