.box-1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  .item-box-1 {
    width: 46%;
  }
}

.box-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  .item-box-2 {
    width: 46%;
  }
}

.box-3 {
  margin-top: 20px;
  margin-left: 10px;
  .item-box-3 {
    width: 46%;
  }
}

.box-4 {
  margin-top: 20px;
  margin-left: 10px;

  .input {
    height: 150px;
  }
}
