.container {
  width: 100%;
  font-family: "Open Sans", sans-serif !important;
  margin-bottom: 24px;
  padding: 16px;
  background: linear-gradient(#ed68ff, #be0ee1);
  color: #fff;
  h3 {
    font-size: 26px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
}
